body {
    background: #cac6c6;
}

header {
    background: #cac6c6;
    padding-top: 10px;
    font-weight: bold;
}

header h1{
    text-align: center;
    font-weight: bold;
}
.nav-link {
    color: white;
    font: bold;
}
.answerA {
    text-align: left;
}
.answerB {
    text-align: left;
}
.answerC {
    text-align: left;
}
.answerD {
    text-align: left;
}

#answerBox .card-body:hover{
    background: rgb(45, 159, 204);
}
#timer-display {
    float: right;
    font-size: 40px;
}


button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    width: 100%;
}